.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goalInput {
  font-size: 100%;
  margin-block-start: 0.4em;
  padding: 0.2em 0.4em;
}

.timerSettings > input {
  font-size: 100%;
  padding: 0.2em 0.4em;
}

.timerWrapper > * + * {
  margin-block-start: 1em;
}

.timerCount {
  font-size: 200%;
  font-family: monospace;
}

button {
  font-size: 100%;
  padding: 0.3em 1em;
  border-radius: 0.25em;
  border: none;
  background-color: #f5c0ab;
  color: #c45124;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background-color: #edae95;
}
button:disabled {
  color: #ef7f53;
}

button + button {
  margin-inline-start: 1em;
}
