.footer {
  padding: 1.5rem 1rem;
  font-size: 0.63em;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--orange-400);
}
